# Entornos virtuales
venv/
.venv/
env/

# Archivos de caché y compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de la base de datos
*.sqlite3
*.db
*.bak
*.journal


# Archivos de sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de logs
*.log
*/logs/

# Archivos de variables de entorno y secretos
.env
.env.local
.flaskenv
*.key
*.pem

# ===== CREDENCIALES DE GOOGLE CLOUD STORAGE =====
*.json
gcs-credentials.json
google-cloud-credentials.json
*-credentials.json

# Archivos temporales de Uvicorn/FastAPI
*.pid
*.sock
